* {
    box-model: border-box;
}

body {
    font-family: Bahnschrift, Tahoma, Arial, sans-serif;
}
form {
    width: 650px;
    margin: 0 auto;
}
h1,
h3,
h4 {
    text-align: center;
}

label {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	padding-top: 5px;
}
fieldset {
    width: 278px;
    display: inline-block;
}
fieldset,
button,
.formcaption {
	margin-left: 145px;
}
div,
fieldset,
button {
	margin-top: 5px;
}
.formcaption {
	margin-top: 15px;
}
fieldset label {
	width: auto;
}
textarea {
	margin-top: 10px;
    width: 300px;
}
.pflicht {
    color: blue;
    font-weight: bold;
}

span {
    color: red;
}

input + label {
    margin-right: 20px;
}

input,
select {
    margin: 5px 0;
}

input[type=text] {
    width: 250px;
}

select {
    width: 255px;
}

table {
    margin: 25px auto;
    border-collapse: collapse;
    border: 2px solid brown;
}
tr {
    border: 1px solid darkgrey;
}
tr:nth-child(even) {
    background-color: antiquewhite;
}
th, td {
    text-align: left;
    padding: 5px 15px;
}
